// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gravatar {
   margin-bottom: 5px;
   margin-right: 5px;
 }
.gravatar_words{
  text-align: center;
  margin-top:6px;
}
