// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn{
  height:50px;
  width:80px;
  border:green solid 1px;
  vertical-align:center;
  text-align:center;
  padding:3px;
  border-radius: 4px 4px 4px 4px;
}
.social-btn:hover{
  text-decoration:none;
  color:purple;
}
